main{
    padding-top: 180px;
}
.buttons {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#kids-btn, #teens-btn, #adults-btn{
    font-weight: 800;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background:#66459e;
    color: white;
}

#kids-btn:hover{
    background: #225d25;
}
#teens-btn:hover{
    background: #124d7d;
}
#adults-btn:hover{
    background: #b5750d;
}

#product-directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Grid view styling */
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    width: 200px;
    justify-content: center;
}

#product-directory {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* List view styling */
.product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 10px;
    width: 50%;
    column-gap: 10px;
}

.product-list img {
    max-width: 150px; 
    height: auto; 
    margin-right: 20px;
    object-fit: contain;  
}
.product-list:nth-child(odd) {
    background-color:#d8b5b5; 
}
#product-directory.member-list-view {
    display: block;
}
/* Style for grid and list views */
.product-card, .product-list {
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.product-card {
    display: inline-block;
    width: calc(25% - 20px); /* Adjust as needed */
    vertical-align: top;
}
.product-card h3{
    color: rgb(131, 15, 56);
    font-weight: 800;
}
.product-list {
    display: block;
    width: 100%;
}
.product-images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}
.product-images img:hover{
    transition: transform 0.5s ease;
    transform: scale(1.5); 
    z-index: 10;
}

.product-images img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}
/* Modal styles */
#image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal-content {
    position: relative;
    margin: 10% auto;
    max-width: 90%;
    text-align: center;
}

#modal-image {
    width: 100%;
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}
#close-modal {
    position: absolute;
    top: 10px;
    right: 200px;
    font-size: 40pt;
    font-weight: bold;
    color: rgb(255, 247, 0);
    cursor: pointer;
}
#close-modal:hover {
    color: rgb(184, 1, 56);
}
/* page divisions */
.updatesgrid {
    width: 30%;
    position: fixed;
    top: 180px;
    left: 0;
    height: calc(100vh - 200px); 
    background-color: rgb(240, 202, 214);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    z-index: 1; 
    padding: 20px;
}
.productgrid {
    margin-left: 30%;
    padding-top: 220px;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.updatesgrid img{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.updatesgrid h3{
    color:#a3211f;
    font-weight: 800;
    font-size: 25pt;
    padding-top: 20px;
    text-align: center;
}
.updatesgrid h4{
    font-weight: 800;
    font-size: 40pt;
    text-align: center;
}
.updatesgrid p{
    font-size: 16pt;
    padding-bottom: 20px;
    text-align: center;
}
.productgrid h2{
    font-size: 25pt;
    color:brown;
    font-weight: 800;
    text-align: center;
    padding: 30px 0;
}