* {
    margin: 0;
    padding:0;
}
/* font styles */

h1, h2, h3, h4, h5, h6{
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
}
p, a {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.menunav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.menu-toggle {
    display:none;
    font-size: 11pt;
    background: none;
    border:none;
    cursor: pointer;
}
.menu-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.menu-links a{
    color:rgb(87, 99, 116);
    text-decoration: none;
    letter-spacing:1pt;
    padding: 1.5rem;
}
.menu-links a.active {
    font-weight: bold;
    color:burlywood;
    text-decoration: underline;
}

#toggle-view{
    max-width: 100%;
    background-color: transparent;
    border: none;
    margin:0;
    padding:0;
}
.site-identity {
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-identity .favicon {
    width: 40px;
    height: 40px;
}
.site-identity .site-info {
    display: flex;
    flex-direction: column;
}
.site-info p{
    font-size: small;
    text-align: center;
}
.site-info h1 {
    font-size: 25pt;
    text-align: center;
}
.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('https://images.unsplash.com/photo-1630013979457-825b990c9cab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #2458c9;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
.btn:hover {
    background-color: #917937;
}
.page-title{
    padding: 20px;
    background-color: #f9f9f9;
}
.events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    justify-content: center;
    height: auto;
}
.event-title, .weather-title, .forecast-title{
    background-color: #7483a4;
    padding: 5px;
}
.events h4 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}
.event-space {
    flex: 0 0 35%;
}
.weather-space, .forecast-space{
    flex: 0 0 30%;
}
.event-space, .weather-space, .forecast-space {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.event-content, .weather-content, .forecast-content {
    padding: 10px;
}
.weather-content{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.weather-content img{
    width: 25%;
    order: -1;
    margin-bottom: 150px;
}
.weather-space ul, .forecast-space ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.weather-space li, .forecast-space li {
    margin: 5px 0;
}
.buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
}
#all-btn:hover, #member-btn:hover, #silver-btn:hover, #gold-btn:hover{
    background-color:#bb9f62;
}
#all-btn, #member-btn, #silver-btn, #gold-btn{
    background-color:#e9d19f;
    padding: 10px;
    border: 1px solid #bb9f62;
    border-radius: 5px;
}
#directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Grid Layout */
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

/* List Layout - Items stacked in a column */
.member-list {
    display:flex;
    flex-direction: column; 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}

.member-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    background-color: #e2f0f4;
}

.member-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.member-list img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 64, 96);
    padding: 20px;
    color:antiquewhite;
    row-gap: 10px;
    margin: 0;
    text-align: center;
    font-size: 9pt;
    letter-spacing: 1pt;
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding:0;
    }
    /* font styles */
    
    p, a {
        font-size: 10pt;
    }
    
    header{
        flex-direction: row;
    }
    .menunav {
        position: relative;
    }
    .menunav .menu-toggle {
        display: block;
        font-weight: 700;
        font-size: 12pt;
        background: none;
        cursor: pointer;
        outline: none;
        padding: 30px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .menu-toggle img {
        width: 80%;
    }
    .menunav .menu-links {
        display: none;
        position: absolute;
        background-color: #fff;
        top: 100%; 
        left: 0;
        width: 100%;
        z-index: 10; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 5px;
    }
    .menunav .menu-links.show {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menunav .menu-links a {
        padding: 0;
        text-align: center;
        color: #333;
        text-decoration: none;
    }
    .menunav .menu-links a:hover {
        text-decoration: underline;
        color: rgb(164, 139, 80);
    }
    .site-identity {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .site-identity .favicon {
        width: 40px;
        height: 40px;
    }
    .site-identity .site-info {
        display: flex;
        flex-direction: column;
    }
    .site-info p{
        font-size: small;
        text-align: center;
    }
    .site-info h1 {
        font-size: 25pt;
        text-align: center;
    }
    .hero {
        position: relative;
        width: 100%;
        height: 80vh;
        background-image: url('https://images.unsplash.com/photo-1630013979457-825b990c9cab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
    .hero-content {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
    }
    
    .btn {
        padding: 10px 20px;
        background-color: #2458c9;
        color: white;
        text-decoration: none;
        border-radius: 8px;
    }
    .btn:hover {
        background-color: #917937;
    }
    .page-title{
        text-align: center;
        padding: 10px;
    }
    .events {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .events h4 {
        font-size: 13pt;
    }
    .event-content, .weather-content, .forecast-content {
        height: 30vh;
    }
    .weather-content{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
    .weather-content img{
        max-width: 15%; 
        margin: 0 10px;
        order: -1;
        margin-bottom: 100px;
    }
    .weather-space ul, .forecast-space ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .forecast-content{
        font-size:larger;
    }
    .weather-space li, .forecast-space li {
        margin: 5px 0;
    }
    #directory {
        display: flex;
        flex-direction: column;
        padding: 20px; 
        max-width: 100%;
    }
    
    .member-card {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(47, 64, 96);
        padding: 20px;
        color:antiquewhite;
        row-gap: 10px;
        margin: 0;
        text-align: center;
        font-size: 9pt;
        letter-spacing: 1pt;
    }
}
