@media (max-width: 768px) {
    main {
        flex-direction: column;
        margin: 0 auto;
        box-sizing: border-box;
        row-gap: 20px;
    }

    main > section {
        padding: 0;
        width: 100%;
    }

    main > section:last-child {
        margin-left: 0;
    }
    .membership-cards {
        width: 100%;
        box-sizing: border-box;
    }
    .card {
        box-sizing: border-box;
    }
    form label {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    input, select, textarea {
        box-sizing: border-box; 
    }
    .modal {
        display: none;
    }
}
