:root {
    --primary-color: #213c54;
    --secondary-color: #fff24a;
    --background-color: #e9e9e9;
}
* {
    margin: 0;
    padding:0;
    font-family: "Noto Sans", sans-serif;
}
/* font styles */

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    font-style:normal;
}
p, a, li {
    font-weight: 400;
    font-style:normal;
    font-size: 10pt;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
header h1{
    color: var(--primary-color);
}
.menunav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.menu-toggle {
    display:none;
    font-size: 15pt;
    background: none;
    border:none;
    cursor: pointer;
}
.menu-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.menunav .menu-links a:hover {
    text-decoration: underline;
}
.menu-links a{
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing:1pt;
    padding: 1.5rem;
}
.menu-links a.active {
    font-weight: bold;
    text-decoration: underline;
}

#toggle-view{
    max-width: 100%;
    background-color: transparent;
    border: none;
    margin:0;
    padding:0;
}
.site-identity {
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-identity .favicon {
    width: 40px;
    height: 40px;
}
.site-identity .site-info {
    display: flex;
    flex-direction: column;
}
.site-info p{
    font-size: small;
    text-align: center;
}
.site-info h1 {
    font-size: 25pt;
    text-align: center;
}
main{
    justify-content: center;
    align-items: center; 
    padding: 20px; 
    margin: 0 auto;
    text-align: center
}
main h2{
    font-size: large;
}
main p{
    color: var(--primary-color);
    font-size: larger;
    font-weight: 700;
}
.card {
    justify-content: center;
    align-items: center; 
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
    display: grid;
    grid-template-columns: 35% 30% 35%; 
    justify-items: center;
    align-items: center;
    background-color: #213c54;
    padding: 40px;
    color: antiquewhite;
    margin: 0;
    text-align: left;
    font-size: 9pt;
    font-weight:100 ;
}
footer p{
    font-size: small;
}
.copyright{
    padding-right: 30px;
}
.social-icons img{
    padding: 10px;
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding:0;
    }
    body{
        margin: 0;
        padding:0;
    }
    /* font styles */
    
    p, a {
        font-size: 10pt;
    }
    
    header{
        flex-direction: column;
    }
    .menunav {
        position: relative;
    }
    .menunav .menu-toggle {
        display: block;
        font-weight: 700;
        font-size: 30pt;
        background: none;
        cursor: pointer;
        outline: none;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .menunav .menu-links {
        display: none;
        position: absolute;
        background-color: #fff;
        top: 100%; 
        z-index: 10; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        text-align: center;
        padding: 5px;
    }
    .menunav .menu-links.show {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 10px;
    }
    .menunav .menu-links a {
        padding: 0;
        text-align: center;
        text-decoration: none;
    }

    .site-identity {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .site-identity .favicon {
        width: 40px;
        height: 40px;
    }
    .site-identity .site-info {
        display: flex;
        flex-direction: column;
    }
    .site-info p{
        font-size: small;
        text-align: center;
    }
    .site-info h1 {
        font-size: 25pt;
        text-align: center;
    }
    footer {
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        justify-items: center; 
        padding: 40px;
        margin: 0;
        text-align: center;
    }
    .copyright{
        padding-right: 0;
    }
    .social-icons img{
        padding: 10px;
    }
}
